*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: outfit,sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    flex-direction: column;
}

.card {
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

.card .qr-code img {
    width: 180px;
    max-width: 180px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card .qr-code img:hover {
    transform: scale(1.05); 
}

.card h2 {
    margin-top: 20px;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    line-height: 1.4; 
}

.card p {
    margin-top: 10px;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    line-height: 1.6; 
}

.attribution {
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: hsl(216, 15%, 48%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
    .card {
        max-width: 400px;
        padding: 30px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    body {
        background-color: hsl(218, 44%, 22%); /* Slate 900 */
    }

    .card {
        max-width: 450px;
        padding: 35px;
    }

    .card h2 {
        font-size: 22px;
    }

    .card p {
        font-size: 18px;
    }
}